{% extends "layout.html.twig" %}

{% block title "Page form" %}

{# {% import "common/form.custom.layout.html.twig" as macros %} #}

{% block content %}
    <h1>Page form</h1>
    {# <p>{{ macros.wrapped_input('username') }}</p>
    <p>{{ macros.input('password', null, 'password') }}</p> #}
    <h2>{{ content.form.title }}</h2>
    {{ form(form, {action: path('form')}) }}
{% endblock %}

{% block stylesheets %}
    <link href="css/hello.css" rel="stylesheet" />
{% endblock %}