{% extends "layout.html.twig" %}

{% block title "Page interne" %}

{% block stylesheets %}

    <link href="{{ app.request.basepath }}css/hello.css" rel="stylesheet" />

{% endblock %}

{% block content %}
    <h1>Page interne</h1>
    
    <ul>
        {% for key, page in content %}
            <li>{{ key }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for question in content.interne %}
            <li>
                {{ question.id }}
                {{ question.question }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}